=============== BACKEND ===============
PORT=YOUR_BACKEND_PORT
CLIENT_URL=YOUR_PRODUCTION_CLIENT_URL
LOCAL_CLIENT_URL=YOUR_LOCAL_CLIENT_URL
DATABASE_URL=YOUR_DATABASE_URL
REDIS_URL=YOUR_REDIS_URL
ACCESS_TOKEN_SECRET=YOUR_ACCESS_TOKEN_SECRET
ACCESS_EXPIRES_IN=YOUR_ACCESS_TOKEN_EXPIRATION_TIME
REFRESH_TOKEN_SECRET=YOUR_REFRESH_TOKEN_SECRET  
REFRESH_EXPIRES_IN=YOUR_REFRESH_TOKEN_EXPIRATION_TIME
NODE_ENV=development

=============== FRONTEND ===============
API_URL=YOUR_FRONTEND_API_URL
LOCAL_API_URL=YOUR_LOCAL_API_URL